:root {
  --bg: #fff;
  --text: #000;
  --primary: #4CAF50;
}

body.dark {
  --bg: #1e1e1e;
  --text: #eee;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: sans-serif;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  padding-bottom: 80px;
}

form input, select {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

button {
  padding: 10px;
  margin-top: 5px;
  width: 100%;
  background-color: var(--primary);
  color: white;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f4f4f4;
  margin-top: 10px;
  padding: 10px;
}

#navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: var(--primary);
  z-index: 10;
}

#navbar button {
  flex: 1;
  padding: 1rem;
  font-size: 1.2rem;
  color: white;
  background: transparent;
  border: none;
}